.git
.github
.kiro
.kilocode
.gitignore
.pre-commit-config.yaml
c.out
completions
docs
manpages
vendor
LICENSE
CREDITS.md
README.md
checkmake.ini
Makefile
Dockerfile*
docker-compose.yml
trails-completionist
trails-completionist.key
