<!DOCTYPE html>
<html>
	<head>
		<title>Hiking Trails</title>
		<style>
		/* Add your CSS styling here */
		</style>
	</head>
	<body>
		{{range $park, $trails := .}}
		<h2>{{$park}}</h2>
		<table border="1">
			<tr>
				<th>Trail Name</th>
				<th>Park Name</th>
				<th>Type and Length</th>
				<th>Trail URL</th>
				<th>Completed</th>
				<th>Completion Date</th>
			</tr>
			{{range $trails}}
			<tr>
				<td>{{$ .Name}}</td>
				<td>{{$ .Park}}</td>
				<td>{{$ .TypeAndLength}}</td>
				<td><a href="{{$ .URL}}" target="_blank">Link</a></td>
				<td><input type="checkbox" {{$if .Completed}}checked{{end}}></td>
				<td>{{$ .CompletionDate}}</td>
			</tr>
			{{end}}
		</table>
		{{end}}
	</body>
</html>
